.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  margin-bottom: 50px;
  margin-top: 50px;
}
@media screen and (max-width: 576px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
